/* Estilos para el botón */
button {
  font-family: "Luckiest Guy", cursive;
  font-size: 2em;
  padding: 15px 30px;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Cambiar estilos al pasar el ratón sobre el botón */
button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
}

/* Estilos para las imágenes */
.images-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.img1,
.img2 {
  width: 200px;
  height: 190px;
}

.img1 img,
.img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img2 {
  position: relative;
}

.Saludo {
  text-align: center;
  margin: 0;
}

.button-container {
  text-align: center;
}

.Eslogan {
  text-align: left;
  margin-top: 10px;
  font-size: 1.8em;
  overflow: hidden; /* Asegura que el texto se oculte hasta que se complete la animación */
  white-space: nowrap;
}
