/* Estilos para el contenedor del botón */
.button-container {
  display: flex;
  justify-content: flex-end;
}

/* Estilos para el botón */
button {
  font-size: 1.5em;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  border: none;
}

/* Cambiar estilos al pasar el ratón sobre el botón */
button:hover {
  background-color: #2980b9;
}
/* Estilos para las imágenes */
.images-container {
  display: flex;
  justify-content: space-between;
}

.img1,
.img2 {
  width: 200px;
  height: 190px;
}

.img1 img,
.img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img2 {
  margin-top: -250px;
}

.Eslogan {
  text-align: left;
  margin-top: 10px;
  font-size: 1.8em;
}
