.container-perfil {
  width: 700px;
  margin: auto;
  margin-top: 150px;
  background: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
  text-align: center; /* Centra el contenido horizontalmente */
}

.container-perfil h2 {
  font-size: 27px;
  font-weight: 500;
}

.container-perfil div {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los botones horizontalmente */
  gap: 10px;
}

.pregunta {
  font-family: Poppins;
}

.container-perfil button.alternative-button {
  font-family: "Poppins", sans-serif;
  flex: 1;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  font-size: 20px;
  cursor: pointer;
}

.container-perfil button.correct-option {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  font-size: 20px;
}

.container-perfil .siguiente {
  margin-top: 20px;
  font-family: "Boogaloo", cursive;
  align-self: center; /* Centra el botón "Siguiente" horizontalmente */
  background-color: #3498db; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Elimina el borde */
  padding: 10px 20px; /* Ajusta el relleno */
  border-radius: 5px; /* Añade bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  font-size: 25px; /* Tamaño del texto */
  transition: background-color 0.3s; /* Agrega una transición de color de fondo */
}
.container-perfil .siguiente:hover {
  background-color: #1c7cd6; /* Cambia el color de fondo al pasar el ratón */
}

.container-perfil button {
  height: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-perfil button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
}
