.container-perfil {
  width: 700px;
  margin: auto;
  margin-top: 150px;
  background: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
  text-align: center; /* Centra el contenido horizontalmente */
}

.container-perfil h2 {
  font-size: 27px;
  font-weight: 500;
}

.container-perfil div {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los botones horizontalmente */
  gap: 10px;
}

.pregunta {
  font-family: Poppins;
}

.container-perfil button.alternative-button {
  font-family: "Poppins", sans-serif;
  flex: 1;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  font-size: 20px;
  cursor: pointer;
}

.container-perfil button.correct-option {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  font-size: 20px;
}

.container-perfil .siguiente {
  margin-top: 20px;
  align-self: center; /* Centra el botón "Siguiente" horizontalmente */
}

.container-perfil button {
  height: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-perfil button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
}
