.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el contenedor de tarjetas */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre las tarjetas */
}

/* Estilos para cada tarjeta */
.quiz-card {
  width: 100%; /* Ajusta el ancho según sea necesario */
}
