/* Estilos para la barra de navegación */
.navbar-container {
  background-color: #333;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center; /* Centra verticalmente los elementos en la barra de navegación */
}

.logo-container {
  display: flex;
  align-items: center; /* Centra verticalmente la imagen del logo */
  margin-right: auto;
}

.logo {
  max-height: 30px; /* Ajusta el tamaño máximo del logo según sea necesario */
}


li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
  padding: 15px 20px;
}
@media screen and (max-width: 600px) {
  /* Ajustes para pantallas pequeñas */
  .navbar-container a {
    display: block;
    width: 100%;
    text-align: left;
  }
}
