body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #b8e2f0, #ffffff);
  /* Otros estilos */
}

/* Agrega tus otros estilos según sea necesario */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Resto de tus estilos */
